[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[AppletGlobals][org.kde.plasma.notifications]
popupPosition=0

[Containments][129]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=11
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][129][Applets][130]
immutability=1
plugin=org.kde.plasma.volume

[Containments][129][Applets][130][Configuration]
PreloadWeight=0

[Containments][129][Applets][130][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][129][Applets][132]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][129][Applets][132][Configuration]
PreloadWeight=22

[Containments][129][Applets][133]
immutability=1
plugin=org.kde.kdeconnect

[Containments][129][Applets][133][Configuration]
PreloadWeight=0

[Containments][129][Applets][134]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][129][Applets][134][Configuration]
PreloadWeight=0

[Containments][129][Applets][135]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][129][Applets][135][Configuration]
PreloadWeight=0

[Containments][129][Applets][145]
immutability=1
plugin=org.kde.redshiftControl

[Containments][129][Applets][145][Configuration]
PreloadWeight=0

[Containments][129][Applets][145][Configuration][Advanced]
geoclueLocationEnabled=true

[Containments][129][Applets][145][Configuration][ConfigDialog]
DialogHeight=1365
DialogWidth=1250

[Containments][129][Applets][145][Configuration][General]
smoothTransitions=true

[Containments][129][Applets][152]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][129][Applets][152][Configuration]
PreloadWeight=0

[Containments][129][Applets][175]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][129][Applets][175][Configuration]
PreloadWeight=0

[Containments][129][Applets][175][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][129][Applets][181]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][129][Applets][181][Configuration]
PreloadWeight=0

[Containments][129][Applets][183]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][129][Applets][183][Configuration]
PreloadWeight=0

[Containments][129][Applets][186]
immutability=1
plugin=org.kde.plasma.battery

[Containments][129][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][129][Configuration]
PreloadWeight=0

[Containments][129][General]
extraItems=org.kde.plasma.mediacontroller,org.kde.plasma.devicenotifier,org.kde.plasma.networkmanagement,org.kde.plasma.volume,org.kde.kupapplet,org.kde.kdeconnect,org.kde.plasma.printmanager,org.kde.redshiftControl,org.kde.plasma.keyboardindicator,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications
hiddenItems=chrome_app_indicator_1,org.kde.redshiftControl,LibreOffice 6.0 Quickstarter,chrome_app_indicator_3,chrome_app_indicator_2,google-chrome
knownItems=org.kde.ktp-contactlist,org.kde.plasma.mediacontroller,org.kde.discovernotifier,org.kde.plasma.printmanager,org.kde.kupapplet,org.kde.kdeconnect,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.vault,org.kde.plasma.clipboard,org.kde.plasma.battery,org.kde.plasma.networkmanagement,org.kde.plasma.volume,org.kde.plasma.bluetooth,org.kde.plasma.keyboardindicator
shownItems=org.kde.weatherWidget,ScudCloud Slack,KMail

[Containments][63]
activityId=
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
lastScreen=11
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
visibility=0
wallpaperplugin=org.kde.image

[Containments][63][Applets][103]
immutability=1
plugin=org.kde.netspeedWidget

[Containments][63][Applets][103][Configuration]
PreloadWeight=0

[Containments][63][Applets][103][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][63][Applets][103][Configuration][General]
fontSize=125
shortUnits=true

[Containments][63][Applets][105]
immutability=1
plugin=org.kde.plasma.systemloadviewer

[Containments][63][Applets][105][Configuration]
PreloadWeight=0

[Containments][63][Applets][105][Configuration][ConfigDialog]
DialogHeight=642
DialogWidth=1246

[Containments][63][Applets][105][Configuration][General]
cpuIOWaitColor=85,85,255
cpuNiceColor=85,85,255
cpuSysColor=85,85,255
cpuUserColor=30,146,255
memApplicationColor=30,146,255
memBuffersColor=85,85,255
memCachedColor=85,85,255
setColorsManually=true
swapActivated=false
updateInterval=0.5

[Containments][63][Applets][108]
immutability=1
plugin=org.kde.plasma.lock_logout

[Containments][63][Applets][108][Configuration]
PreloadWeight=0

[Containments][63][Applets][108][Configuration][ConfigDialog]
DialogHeight=649
DialogWidth=1246

[Containments][63][Applets][116]
immutability=1
plugin=audoban.applet.separator

[Containments][63][Applets][116][Configuration]
PreloadWeight=0

[Containments][63][Applets][116][Configuration][General]
lengthPercentage=1
lengthPixels=1

[Containments][63][Applets][117]
immutability=1
plugin=audoban.applet.separator

[Containments][63][Applets][117][Configuration]
PreloadWeight=0

[Containments][63][Applets][117][Configuration][General]
lengthPercentage=10
lengthPixels=4

[Containments][63][Applets][118]
immutability=1
plugin=audoban.applet.separator

[Containments][63][Applets][118][Configuration]
PreloadWeight=0

[Containments][63][Applets][118][Configuration][General]
lengthPercentage=2
lengthPixels=1
usePercentage=false
usePixels=true

[Containments][63][Applets][120]
immutability=1
plugin=org.kde.latte.spacer

[Containments][63][Applets][120][Configuration]
PreloadWeight=0

[Containments][63][Applets][120][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][63][Applets][120][Configuration][General]
lengthPercentage=10

[Containments][63][Applets][121]
immutability=1
plugin=org.kde.latte.spacer

[Containments][63][Applets][121][Configuration]
PreloadWeight=0

[Containments][63][Applets][121][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][63][Applets][121][Configuration][General]
lengthPercentage=20

[Containments][63][Applets][123]
immutability=1
plugin=org.kde.latte.spacer

[Containments][63][Applets][123][Configuration]
PreloadWeight=0

[Containments][63][Applets][123][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][63][Applets][123][Configuration][General]
lengthPercentage=10

[Containments][63][Applets][124]
immutability=1
plugin=org.kde.latte.spacer

[Containments][63][Applets][124][Configuration]
PreloadWeight=0

[Containments][63][Applets][124][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][63][Applets][124][Configuration][General]
lengthPercentage=10

[Containments][63][Applets][128]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][63][Applets][128][Configuration]
PreloadWeight=17
SystrayContainmentId=129

[Containments][63][Applets][154]
immutability=1
plugin=org.kde.weatherWidget

[Containments][63][Applets][154][Configuration]
PreloadWeight=0

[Containments][63][Applets][154][Configuration][Appearance]
renderMeteogram=true

[Containments][63][Applets][154][Configuration][ConfigDialog]
DialogHeight=676
DialogWidth=1043

[Containments][63][Applets][154][Configuration][General]
lastReloadedMsJson={"cache_5a5440a6c6026f3e61c6aee598cae8dc":1530764107104,"cache_bd766d65c3cdaa5c758846ae894a8422":1530764454756,"cache_763b2c279d0ba9637fa53086be09182e":1538086845694,"cache_8f6ea9239272925300d07f677a28966a":1554581631789,"cache_eab059a62835ac48ff6bda28b9b3ba24":1547004338898}
places=[{"providerId":"yrno","placeIdentifier":"United_States/California/Palo_Alto","placeAlias":"Palo Alto"},{"providerId":"yrno","placeIdentifier":"United_States/Nebraska/Omaha","placeAlias":"Omaha"},{"providerId":"yrno","placeIdentifier":"USA/New_York/New_York","placeAlias":"New York"}]
reloadIntervalMin=20

[Containments][63][Applets][154][Configuration][Units]
temperatureType=fahrenheit

[Containments][63][Applets][156]
immutability=1
plugin=audoban.applet.separator

[Containments][63][Applets][156][Configuration]
PreloadWeight=0

[Containments][63][Applets][165]
immutability=1
plugin=org.kde.latte.spacer

[Containments][63][Applets][165][Configuration]
PreloadWeight=0

[Containments][63][Applets][165][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][63][Applets][165][Configuration][General]
lengthPixels=10
usePercentage=false
usePixels=true

[Containments][63][Applets][172]
immutability=1
plugin=org.kde.plasma.centereddigitalclock

[Containments][63][Applets][172][Configuration]
PreloadWeight=0

[Containments][63][Applets][172][Configuration][Appearance]
showDate=true
use24hFormat=2

[Containments][63][Applets][172][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][63][Applets][176]
immutability=1
plugin=org.kde.latte.spacer

[Containments][63][Applets][176][Configuration]
PreloadWeight=0

[Containments][63][Applets][176][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][63][Applets][176][Configuration][General]
lengthPercentage=8

[Containments][63][Applets][178]
immutability=1
plugin=org.kde.latte.spacer

[Containments][63][Applets][178][Configuration]
PreloadWeight=0

[Containments][63][Applets][178][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][63][Applets][178][Configuration][General]
lengthPercentage=10

[Containments][63][Applets][179]
immutability=1
plugin=org.kde.plasma.kickerdash

[Containments][63][Applets][179][Configuration]
PreloadWeight=0

[Containments][63][Applets][179][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][63][Applets][179][Configuration][General]
favoritesPortedToKAstats=true

[Containments][63][Applets][179][Shortcuts]
global=Meta+P

[Containments][63][Applets][185]
immutability=1
plugin=org.kde.plasma.centeredtaskmanager

[Containments][63][Applets][185][Configuration]
PreloadWeight=0

[Containments][63][Applets][185][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][63][Applets][185][Configuration][General]
groupingStrategy=0
maxStripes=1
showOnlyCurrentDesktop=true
showOnlyCurrentScreen=true

[Containments][63][Applets][84]
immutability=1
plugin=org.kde.plasma.pager

[Containments][63][Applets][84][Configuration]
PreloadWeight=0

[Containments][63][Applets][84][Configuration][ConfigDialog]
DialogHeight=642
DialogWidth=1246

[Containments][63][Applets][84][Configuration][General]
displayedText=Number
showWindowIcons=true

[Containments][63][ConfigDialog]
DialogHeight=852
DialogWidth=734

[Containments][63][Configuration]
PreloadWeight=0

[Containments][63][General]
advanced=true
appletOrder=178;179;176;84;185;165;105;121;103;120;116;128;124;117;154;156;172;118;123;108
blurEnabled=false
durationTime=None
iconMargin=20
iconSize=30
lockedZoomApplets=84;105;121;103;120;124;123;108
panelPosition=10
panelSize=100
shadowOpacity=45
shadowSize=50
showGlow=true
showOnlyCurrentDesktop=true
shrinkThickMargins=false
splitterPosition=4
splitterPosition2=6

[LayoutSettings]
activities=
background=
color=lightskyblue
disableBordersForMaximizedWindows=false
globalLaunchers=
lastUsedActivity=76f55c31-4079-4c1c-a8ec-ab330020edbf
launchers=
showInMenu=false
textColor=fcfcfc
version=2
